<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="77ac41a4-55e4-48c6-a787-4efc190bed19" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="77ac41a4-55e4-48c6-a787-4efc190bed19fileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
